[submodule "frontend"]
	path = frontend
	url = ../frontend
[submodule "gateway"]
	path = gateway
	url = ../gateway
[submodule "keycloak"]
	path = keycloak
	url = ../keycloak
[submodule "experiment-config"]
	path = experiment-config
	url = ../experiment-config
[submodule "experiment-config-sidecar"]
	path = experiment-config-sidecar
	url = ../experiment-config-sidecar
[submodule "experiment-config-frontend"]
	path = experiment-config-frontend
	url = ../experiment-config-frontend
[submodule "experiment-executor-frontend"]
	path = experiment-executor-frontend
	url = ../experiment-executor-frontend
[submodule "experiment-executor"]
	path = experiment-executor
	url = ../experiment-executor
[submodule "gatling-executor"]
	path = gatling-executor
	url = ../gatling-executor
[submodule "chaostoolkit-executor"]
	path = chaostoolkit-executor
	url = ../chaostoolkit-executor
[submodule "testdata"]
	path = testdata
	url = ../testdata
